@media screen and (min-width: 769px){
    body{
      background-color:#193467;
    }
    p.map{
      width: 100%;
      height: 100px;
      background: rgba(255, 255, 255, 0.5);
      bottom: 50px;
      left: 0;
      right: 0;
      margin:0;
      position: absolute;
      text-align: center;
      color: black;
      font-size: 2em;
    }
    .mapas{
      height:   223px;
      width: 336px;
      margin: 30px 30px 30px 75px;
      float: left;
      border-radius: 5px;
      box-shadow: 0 2px 10px 1px black;
      position:relative;
    }

    .girona{
      background-image:
      url("img/gironamap.PNG");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    .barcelona{
      background-image:
      url("img/barcelonamap.PNG");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }


}
