@media screen and (min-width: 769px){
   body{
     background-color: #404040;
   }

    h1{
        margin-top: 30px;
        text-align: center;
        margin-bottom: 30px;
        font-family: 'Playfair Display', serif;
    }
    h2{
      margin-top: 80px;
      text-align: center;
      font-family: 'Playfair Display', serif;
    }
    p{
      text-align: center;
      height: auto;
      width: 80%;
      background-image: pink;
      margin: auto;

      font-family: 'PT Serif Caption', serif;
    }

#nav{
  height: 45px;
  background: white;
  margin: 0;
  padding: 0;
}
#nav img{
  height: 80%;
  width: auto;
  margin: 5px;
  padding: 0;
  margin-left: 100px;
}
#sipnosis{
  width: 95%;
  height: auto;
  background: rgba(255, 255, 255, 0.8);
  margin: auto;
}

#caja{
width: 90%;
height: auto;
background: rgba(255, 255, 255, 0.7);
margin: auto;
}

.imagenes{
  width: 80%;
  height: auto;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}
.fotos{
  width: 49%;
  height: auto;
  float: left;
  margin-top: 30px;
  margin-left: 5px;
}
.fotos img{
  width: 100%;
  height: auto;
}

.peli{
  float: left;
  margin: 0;
}
.nuestro{
  float: right;
  margin: 0;
}

.clic{
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index:1;
  width: 70px;
  height: 50px;
  opacity: 0;
}
#burger{
  position: absolute;
  margin: 0;
  padding: 0;
  top: 8px;
  left: 10px;
}
#burger li{
  width: 40px;
  height: 8px;
  margin: 5px 0;
  background-color: BLACK;
}
li{
  list-style-type: none;
}
#menu{
  background: rgba(255, 255, 255, 0.9);
  width: 50px;
  left: -100%;
  position: absolute;
  margin-top: 5px;
}
#menu li{
  color: white;
}
.clic:checked ~ #menu{
  position: fixed;
  left: 0;
  transition: 1s;

}

.texto{
  height: auto;
  width: 80%;
  background-image: pink;
  margin: auto;

}

}
