@media screen and (min-width: 769px){
   body{
     background-color:#193467;
   }

    h1{
        text-align: center;
        margin-bottom: 30px;
        font-family: 'Cinzel', serif;
        font-size: 50px;
    }
    h2{
      margin-top: 80px;
      text-align: center;
      font-family: 'Cinzel', serif;
      font-size: 30px;
    }
    p{
      text-align: center;
      font-family: 'PT Serif', serif;
    }
    li{
      list-style-type: none;
      font-family: 'PT Serif', serif;
    }

#nav{
  height: 45px;
  background: white;
  margin: 0;
  padding: 0;
}
#nav img{
  height: 80%;
  width: auto;
  margin-top:5px;
  padding: 0;
  margin-left: 10px;


}
.texto{
  width: 90%;
  text-align: justify;
  margin: auto;
  margin-bottom: 15px;
}

.imagenes{
  width: 95%;
  height: auto;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}
.fotos{
  width: 49%;
  height: auto;
  float: left;
  margin-left: 5px;
}
.fotos img{
  width: 100%;
  height: auto;
}

.peli{
  text-align: right;
  margin-top: -5px;
  font-style: italic;
  font-size: 12px;
}
.nuestro{
  text-align: left;
  margin-top: -5px;
  font-style: italic;
  font-size: 12px;
}

#sipnosis{
  width: 90%;
  height: auto;
  margin: auto;
  background: rgba(255, 255, 255, 0.9);
}

#caja{
  width: 90%;
  height: auto;
  margin: auto;
  background: rgba(255, 255, 255, 0.9);
}


#menu{
  background: rgba(255, 255, 255, 0.9);
  width: auto;
  margin-top: 10px;
  float: right;

}
#menu li {
  display:inline-block;
  margin-right: 20px;
}
input{
  display: none;
}

}
