@media screen and (min-width: 481px) and (max-width: 768px){
  body{
    background: rgba(66, 168, 165, 0.5);
}
h1{
  text-align: center;
}
#cuerpo{
 width: 650px;
 margin:auto;
}
#cabezal{
  height: 45px;
  background: white;
  margin: auto;
  padding: 0;
  background-image:
  url("img/logoo.svg");
  background-repeat: no-repeat;


}
#caja{
  height: 220px;
  width:95%;
    background: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  margin: auto;
  padding: 0;
  float: left;
}


.mapas{
  width: 70%;
  height: 265px;
  background: lightblue;
  margin: auto;
  margin-top: 300px;
  border-radius: 2px;
  box-shadow: 0 2px 10px 1px black;
  overflow: hidden;
  position: relative;
    background-image: url("img/mapa.png");
}
.mapas:active > p {
  bottom: 0;
  transition: 0.5;
}
.mapas:hover > p {
  bottom: 0;
  transition: 0.5;
}
.girona{
  background-image:
  url("tablet/girona.jpg");
}
.bcn{
  background-image:
  url("tablet/mbarcelona.jpg");
}

#bloc{
  background-color: purple;
  position: relative;
  top: 0;
  left: 0;
  width: 300%;
  -webkit-animation: pass 20s infinite;
  animation: pass 20s infinite;
}
#bloc:hover{
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.pelis{
  height: 200px;
  width: 140px;
  background: pink;
  margin: 10px 20px 10px 50px;
  float: left;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 10px 1px black;
  overflow: hidden;
  position: relative;
}
p{
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
  bottom: -50px;
  left: 0;
  right: 0;
  margin:0;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 1em;
}
.pelis:active > p {
  bottom: 0;
  transition: 0.5;
}
.pelis:hover > p {
  bottom: 0;
  transition: 0.5;
}
.uno{
  background-image:
  url("tablet/trono.jpg");
}
.dos{
  background-image:
  url("tablet/locos.jpg");
}
.tres{
  background-image:
  url("tablet/dias.jpg");
}
.cuatro{
  background-image:
  url("tablet/vicky.jpg");
}
.cinco{
  background-image:
  url("tablet/madre.jpg");
}
.seis{
  background-image:
  url("tablet/perfume.jpg");
}
.siete{
  background-image:
  url("tablet/barcelona.jpg");
}

@keyframes pass {
    0%{
      left: 0%;
    }
    10%{
      left: -210px;
    }
    20%{
      left: -420px;
    }
    30%{
      left: -630px;
    }
    40%{
      left: -840px;
    }
    50%{
      left: -1050px;
    }
    60%{
      left: -1260px;
    }
    70%{
      left: -1470px;
    }

  }

}
