@media screen and (min-width: 481px) and (max-width: 768px){
  body{
    background-color:#000066;
}
h1{
  text-align: center;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 50px;
}
h2{
  margin-top: 50px;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 30px;
}
p{
  text-align: center;
  font-family: 'PT Serif', serif;
}
li{
  list-style-type: none;
  font-family: 'PT Serif', serif;
}



#nav{
  height: 45px;
  background: white;
  margin: 0;
  padding: 0;
}
#nav img{
  height: 80%;
  width: auto;
  margin: 5px;
  padding: 0;
  margin-left:50px;
}
.texto{
  width: 95%;
  text-align: justify;
  margin: auto;
  margin-bottom: 10px;
}

.imagenes{
  width: 95%;
  height: auto;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}
.fotos{
  width: 100%;
  height: auto;
  float: left;
}
.fotos img{
  width: 100%;
  height: auto;
}
.peli{
  text-align: left;
  margin-top: -6px;
 font-size: 12px;
  font-style: italic;
}
.nuestro{
  text-align: left;
  margin-top: -6px;
  font-size: 12px;
  font-style: italic;
}

#sipnosis{
  width: 90%;
  height: auto;
  background: rgba(255, 255, 255, 0.9);
  margin: auto;
}


#caja{
width: 90%;
height: auto;
margin: auto;
background: rgba(255, 255, 255, 0.9);
}

.clic{
  cursor: pointer;
  position: absolute;
  top: 7px;
  left: 7px;
  z-index:1;
  width: 40px;
  height: 40px;
  opacity: 0;
}
#burger{
  position: absolute;
  margin: 0;
  padding: 0;
  top: 8px;
  left: 10px;
}
#burger li{
  width: 40px;
  height: 8px;
  margin: 5px 0;
  background-color: BLACK;
}

#menu{
  background: rgba(255, 255, 255, 0.9);
  width: 50px;
  left: -100px;
  position: absolute;
  margin-top: 46px;
}
.clic:checked ~ #menu{
  position: fixed;
  left: 0;
  transition: 0.5s;
}

}
