body{
  background-color: #33ccff;
  margin: 0;
  padding: 0;
  animation-name: fondo;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-iteration-count: 2;
  animation-direction: alternate;

}
@@keyframes fondo {
  from{
    transform:
      background-color:#33ccff;
  }
  to{
      background-color: #000080;
  }

}
.lluna{
  float: right;
  width: 200px;
  height: 200px;
  background-color: solid transparent;
  border-radius: 100px;
  box-shadow: inset -60px 0px 0px black;

}
#nuvol{
  width: 250px;
  height: 160px;
  background-color: #FFF;
  border-radius: 150px 150px 50px 70px;
  position: relative;
  left: 1400px;
  top: -250
}
#nuvol::after{
  content: '';
  background-color:#FFF;
  padding: 40px 70px;
  border-radius: 0px 50px 50px 0px;
  position: relative;
  left: 170px;
  top: 84px;
}
#nuvol::before{
  content: '';
  background-color:#FFF;
  padding: 40px 70px;
  border-radius: 50px 0 0 50px;
  position: relative;
  left: -40px;
  top: 102px;
}
#nuvol2{
  width: 200px;
  height: 100px;
  background-color: #FFF;
  border-radius: 150px 150px 50px 70px;
  position: relative;
  left: 150px;
}
#nuvol2::after{
  content: '';
  background-color:#FFF;
  padding: 20px 50px;
  border-radius: 0px 50px 50px 0px;
  position: relative;
  left: 40px;
  top: 62px;
}
#nuvol2::before{
  content: '';
  background-color:#FFF;
  padding: 25px 50px;
  border-radius: 50px 0 0 50px;
  position: relative;
  left: -50px;
  top: 57px;
}

.montanyagran{
     width: 0;
     height: 0;
     border-right: 500px solid transparent;
     border-top: -500px solid transparent;
     border-left: 500px solid transparent;
     border-bottom: 500px solid #f0ad4e;
     position: absolute;
     top: 200px;
     left: 400px;
}

.montanyamitjana{
     width: 0;
     height: 0;
     border-right: 300px solid transparent;
     border-top: -300px solid transparent;
     border-left: 300px solid transparent;
     border-bottom: 300px solid  #ff661a;
    position: absolute;
     top: 400px;
     left: 200px;
     z-index: 100;
}

.montanyapetita{
     width: 0;
     height: 0;
     border-right: 200px solid transparent;
     border-top: -200px solid transparent;
     border-left: 200px solid transparent;
     border-bottom: 200px solid #b33c00;
     position: absolute;
      top: 500px;
      left: 0px;
}


.flor{
  position: relative;
  left: 200px;
  z-index: 100;
  position: absolute;
  animation-name:flor;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-iteration-count: 2;
  animation-direction: alternate;
}
@keyframes flor{
  from{
    transform: rotate(0deg);
    transform-origin: 0 100px;
  }
  to{
    transform: rotate(360deg);
    transform-origin: 0 100px;
  }
}
.petal{
  width: 50px;
  height: 100px;
  background-color: #990099;
  border-radius: 90px 0 90px 0;
}

.p2{
  transform: translateY(-100px)rotate(60deg);
  transform-origin: 0 100px;
}
.p3{
  transform: translateY(-200px)rotate(120deg);
  transform-origin: 0 100px;
}
.p4{
  transform: translateY(-300px)rotate(180deg);
  transform-origin: 0 100px;
}
.p5{
  transform: translateY(-400px)rotate(240deg);
  transform-origin: 0 100px;
}
.p6{
  transform: translateY(-500px)rotate(300deg);
  transform-origin: 0 100px;
}
.centre{
  transform: translateY(-515px);
  left: -15px;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: yellow;
}
.palo{
 height: 200px;
 width: 10px;
 background-color: green;
 top: 200px;

 position: absolute;

}

.hormiga {
  height: 50px;
  width: 100px;
  border-radius: 50px;
  background-color: black;
  position: absolute;
  top: 650px;
  z-index: 100;

  animation-name: camina;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

.hormiga::before{
   content: '';
   display: block;
   width: 50px;
   height: 50px;
   background-color: black;
   border-radius: 50px;
   position: relative;
   left: 97px;

}

.hormiga::after {
  content: '';
  display: block;
  width: 70px;
  height: 50px;
  background-color: black;
  border-radius: 50px;
  position: relative;
  left: -60px;
  top: -50px;


}

.flordos{
  left: 600px;
  z-index: 100;
  position: relative;
  position: absolute;
  animation-name:flor;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-iteration-count: 2;
  animation-direction: alternate;
}
.flortres{
  left: 1000px;
  z-index: 100;
  position: relative;
  position: absolute;
  animation-name:flor;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-iteration-count: 2;
  animation-direction: alternate;
}




@keyframes camina {
  from{

    transform: translate(0,0);
  }
  to{

    transform: translate(1500px);

}
